.App h1{
  color: red;
  font-weight: bold;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
.App2 form{
    border: 1px solid #80808000;
    grid-column: 6/9;
    grid-row: 3;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    border-radius: 15px;
    background-color: white;
    margin: 0px auto;
}
.App2 form div {
  width: 250px;
}
.App2 form div div input {
  height: 0px;
  
}
.App2 form div label{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: darkgoldenrod;
}


